body {
  margin:0;
  padding:0;
  height:100%;
  background-image: url("https://rawgit.com/michaelgrotton/LabSite/gh-pages/pictures/IMG_1710.jpg");
  background-size:65%;
  background-repeat:repeat;
  background-position:center 60px;
  background-attachment:fixed;
}

#top {
  width:100%;
  top:0;
  background-color:#202020;
  position:fixed;
  z-index:1; 
  height:70px;
  opacity:.9;
}


#logo {
  margin-top:0;
}

#logo_cont {
  margin-top:10px;
  margin-left:20px;
  float:left;
}

#home {
  display:block;
  height:100%;
  width:100%;
}

.write{
  margin:0 auto;
  line-height:70px;
  font-family: Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  font-weight:bold;
}

ul {
    list-style-type: none;
    padding:0;
    height:70px;
    overflow: hidden;
    background-color:#202020;
    float:right;
    width:80%;
    margin-top:0;
    margin-right:10px;
}

li {
    float:right;
}

li a {
    display:block;
    font-size:18px;
    text-align: center;
    padding-left:15px;
    padding-right:15px;
    height:70px;
    text-decoration:none;
    color:white;
}

ul li a:hover {
    color:gray;
}

#t02 {
  text-align:center;
  background-color:#202020;
  width:80%;
  margin:auto;
}

.table2,.td2,.tr2 {
  border-radius:3px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  height:40px;
  background-color:#202020;
}

.td2 {
  width:20%;
  color:white;
}

#closer {
  padding-top:40px;
}

#a2:hover {
  color:lightgray;
}

#a2 {
  text-decoration:none;
  color:white;
}

#two {
  text-align:left;
  color:gray;
}

#three {
  text-align:center;
  color:gray;
}

#four {
  text-align:center;
  color:gray;
}

.info {
  margin:0;
}

#info1 {
  padding:120px;
  background-color: rgba(245, 245, 245, .9);
}

#info2 {
  padding:40px;
  border-top:1px solid white;
  background:white;
  height:400px;
}

#info3 {
  padding:200px;
  background-color: rgba(245, 245, 245, .8);
  
}

.title {
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
  padding-left:10px;
  padding-bottom:20px;
  color:#202020;
  font-size:25px;
  text-align:center;
  letter-spacing:1px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

#blah {
  text-align:left;
}

#closer {
  height:200px;
  background-color:#202020;
}

.infowrite {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color:gray;
  text-align:center;
  letter-spacing:1px;
  line-height:25px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:0;
}

#hey {
  text-decoration:none;
}

table#t01 {
  width:80%;
  margin:auto;
}

td, th {
  padding:15px;
  text-align:center;
  
}

#hey {
  width:300px;
  height:375px;
  border-radius:5px;
  margin:0;
  opacity:.7;
  margin-bottom:0;
  margin-bottom:0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.picback {
 border-radius:5px;
 padding-bottom:0;
 height:375px;
 width:300px;
 background-color: rgba(120,120,120,1);
}

#hey:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity:1;
}

#learn:hover {
  background-color:rgba(178,0,0,1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(15,15,15,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(15,15,15,1);
  box-shadow: 0px 0px 5px 0px rgba(15,15,15,1);
}

#more:hover {
  color:white;
}

#learn {
  border:4px solid #B20000;
  height:50px;
  border-radius:30px;
  width:200px;
  margin:auto;
  margin-top:50px;
  margin-bottom:50px;
}

#more {
  color:#B20000;
  font-size:18px;
  margin:0;
  line-height:55px;
  height:55px;
  border-radius:30px;
}
